<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; harset=utf-8">
        <title>Mini session 1</title>

        <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="../node_modules/angular/angular.min.js.map"></script>
        <script type="text/javascript" src="app/app.js"></script>
    </head>

    <body ng-app="umanit">
        <div ng-controller="UmanitCtrl">
            <input type="text" ng-model="name"/>
            {{ name }}

            <ul>
                <li ng-repeat="sage in age">{{$index}} : {{ sage }}</li>
            </ul>

            <div ng-if="name == 'umanit'">Bonjour</div>

            <div ng-class="getClass()">Alerte!</div>
            <ng-include src="'include.html'"></ng-include>
        </div>
    </body>
</html>
